

<section id="create_package" class="home-section bg-white">
<h1>Create Package</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<label>Country :</label>
			<select name="slc_country" class="form-control">
			<% @countries.each do |country|%>
			<option value="<% country.id %>"><%= country.name%></option>
			<% end %>
			</select>
			<br />

			<label>State :</label>
			<select name="slc_state" class="form-control">
			<% @states.each do |state|%>
			<option value="<% state.id %>"><%= state.name%></option>
			<% end %>
			</select>
			<br />

			<label>Place Of Interest :</label>
			<input type="text" name="txt_place_of_interest" class="form-control">
			<br />

			<label>Duration :</label>
			<select name="slc_duration" class="form-control">
			<% @durations.each do |duration|%>
			<option value="<% duration.id %>"><%= duration.name%></option>
			<% end %>
			</select>
			<br />

			<label>Description :</label>
			<textarea class="form-control" rows="5" name="txt_description"></textarea>
			<br />


			<label>Price :</label>
			<input type="text" name="txt_price" class="form-control">
			<br />

			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</div>

</section>


