<section id="update_package" class="home-section bg-white">
<h1>Update Package</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<label>Country :</label>
			<select name="slc_country" class="form-control">
			<option value="malaysia">Malaysia</option>
			<option value="japan">Japan</option>
			<option value="korea">Korea</option>
			<option value="china">China</option>
			</select>
			<br />

			<label>State :</label>
			<select name="slc_state" class="form-control">
			<option value="malaysia">Malaysia</option>
			<option value="japan">Japan</option>
			<option value="korea">Korea</option>
			<option value="china">China</option>
			</select>
			<br />

			<label>Place Of Interest :</label>
			<input type="text" name="txt_place_of_interest" class="form-control">
			<br />

			<label>Duration :</label>
			<select name="slc_duration" class="form-control">
			<option value="1">5 Hour</option>
			<option value="2">10 Hour</option>
			<option value="3">1 Day</option>
			<option value="4">2 Day</option>
			</select>
			<br />

			<label>Description :</label>
			<textarea class="form-control" rows="5" name="txt_description"></textarea>
			<br />


			<label>Price :</label>
			<input type="text" name="txt_price" class="form-control">
			<br />

			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</div>



</section>


