
<section id="traveller_wishlist_update" class="home-section bg-white">
<h1>Update Your Plan.</h1>

	 <div class="container">
         <div class="row centered-form">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

			<label>Country you would like to Go :</label>
			<select name="slc_country" class="form-control">
			 <option value="malaysia">Malaysia</option>
			 <option value="japan">Japan</option>
			 <option value="korea">Korea</option>
			 <option value="china">China</option>
			</select>
			<br />

			<label>State which you like to visit :</label><br>
			<select name="slc_state" class="form-control">
			 <option value="capital">Big Cities</option>
			 <option value="rural">Rural Areas</option>
			</select>
			<br />

			<label>Do you need a transport? :</label>
			<select name="slc_transport" class="form-control">
			 <option value="yes_transport">Yes</option>
			 <option value="no_transport">No</option>
			</select>
			<br />


			<label>Food Type :</label>
			<select name="slc_food_type" class="form-control">
			 <option value="halal">Halal</option>
			 <option value="vegetarian">Vegetarian</option>
			 <option value="none_food_type">No Issue</option>
			</select><br>

			<label>Accomodation ? :</label>
			<select name="slc_accomodation" class="form-control">
			 <option value="yes_accomodation">Yes</option>
			 <option value="no_accomodation">No</option>
			 <option value="none_accomodation">No Issue</option>
			</select><br>

			<label>Your price range? :</label>
			<select name="slc_price" class="form-control">
			 <option value="low">Low</option>
			 <option value="medium">Medium</option>
			 <option value="high">High</option>
			</select><br>

			<label>Date Time Start :</label>
			 <input type="date" name="txt_date_time_start" class="form-control">

			<label>Date Time End :</label>
			 <input type="date" name="txt_date_time_start" class="form-control">
			<br>


			<button type="submit" class="btn btn-default">Update your Travel Plan :)</button>
		  </div>
		 </div>
	</div>

</section>
	