	<div class="container">
		<div class="row centered-form"><BR>
			<h1>What would you like to do?</h1>
			<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

				<h2><%= link_to "Update Your Profile", users_traveller_profile_update_path %></h2><BR>
				<h2><%= link_to "Make A Wishlist", users_traveller_wishlist_path %></h2><BR>
				<h2><%= link_to "Update Your Wishlist", users_traveller_wishlist_update_path %></h2><BR>
			
			</div>
		</div>
	</div>