
<section id="agent_availability" class="home-section bg-white">

<h1>List of Agent</h1>
<% @agent.each do |x|%>
<p><%= x.first_name %> <%= x.last_name %>
</p>

<% end %>
<p><%= link_to "Back", root_path %></p>
</section>




