<!DOCTYPE html>
<html>
<head>
  <title>Bemyguest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- FOOTER -->
<section id="footer">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy;2015 bemyguest company. All rights reserved. By <a href="#">bemyguest.io</a></p>
				</div>
			</div>		
		</div>	
	</footer>
</section>
<!-- FOOTER END -->
</body>
</html>
